# glob pattern for all .metadata folder
# patrón glob para todas las carpetas de .metadata
**/.metadata/

# build artifacts
bin/
*.class
**/generados/

#dictionary - multi-language strings
dictionary.txt
